div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/hero-background-nature.jpg?h=913c74c31ec11c3efc92f0a0bf9dbf30');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/hero-background-photography.jpg?h=da9b6c5d2352573b5f30191fb6c4ad0e');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/hero-background-technology.jpg?h=21ca683957050f03aebcbb6dbca9a4cc');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

